script#chart-template(type='text/template')
  li.sortable.no-header.chart-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      div.chart(data-bind="attr: { id: chartId }")

script#gauge-template(type='text/template')
  li.sortable.no-header.chart-device

      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      span.attributes(data-bind="template: { name: 'gauge-attr-template', foreach: $data.device.attributes, afterRender: $data.afterAttributeRender }")

script#gauge-attr-template(type='text/template')
  <!-- ko if: !$data.hidden -->
  span.attribute(data-bind="tooltip: $data.tooltipHtml, css: {outOfDate: $data.outOfDate()}")
    div.gauge(data-bind="attr: { id: 'gauge-'+$data.name}")
  <!-- /ko -->
